@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }

    50% {
        opacity:0.8;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes cursor-highlight {
    0%,
	10%
    {
        width: 0;
        background-color: black;
    }

	70%,
	90%
    {
        width: 100%
    }

    100%
    {
        width:100%;
        // border-right: none;
    }
}