nav {
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: $primary-bg-color-opacity;
    z-index: 100;

    ul {
        display: flex;
        gap: 20px;
    }

    a {
        height: 100%;
        img{
            padding:5px 0;
        }
    }

    .navigation-menu a{
        padding-right:25px;
        // text-transform: uppercase;
    }
}

.menu-button{
    background-color: rgba(0,0,0,0);
    display:none;

    .line {
        width: 35px;
        height: 4px;
        background-color: white;
        display: block;
        margin-bottom: 8px;
    }
}
