.projects{
    background-color: $secondary-bg-color-dm;
    padding:150px 0;

    .wrapper>p{
        margin-bottom: 50px;
    }
}

.project-container{
    background-color:$primary-bg-color-opacity;
    padding:60px 40px;
    margin-bottom:80px;
    // height:1000px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    .project-image-container{
        width:calc(70% - 35px);
        height:100%;
    }

    img{
        // height:100%;
        object-fit:contain;
        width:100%;

        // &:hover{
        //     transform: scale(1.02);
        //     transition: 0.3s;
        // }
    }

    .project-description-container {
        width: 30%;
    }

    .skills-container{
        display:flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
        // color: $secondary-accent-color;
        margin:20px 0;
    }
}

.project-links {
    display: flex;
    gap: 10px;

    &>div {
        text-align: center;
    }

    a {
        padding: 12px 22px;

        i {
            padding-right:5px;
            font-size: 20px;;
        }
    }


}