.projects{
    background-color: $secondary-bg-color-dm;
    padding:150px 0;
}

.project-container{
    margin:60px 0;
    height:600px;
    display:flex;
    justify-content: space-between;
    
    .project-image-container{
        width:calc(75% - 10px);
    }

    .project-description-container{
        width:25%;
    }

    img{
        height:100%;
        width:auto;
    }
}