.skills{
    background-image: url(../assets/white-texture.png);
    padding:150px 0;
    background-color: black;

    .skills-container{
        text-align: center;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        margin-top:30px;

        .skill{
            padding:20px;
            width:calc(25% - 10px);
        }
        
    }
    
    i{
        font-size: 4.5rem;
        transition: 0.3s;

        &:hover,
        &:focus{
            color: $secondary-accent-color;
        }
        
    }
}