$body-font: "Mulish", sans-serif;
$header-font: "Poppins", sans-serif;

// dark mode colours
$primary-bg-color-dm: #303134;
$primary-color-dm:#fff;

$accent-color:#00D4BD;
$accent-color-opacity:rgba(0,212,189,0.11);

